@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: linear-gradient(to bottom, #b40303, #590202);
  margin-bottom: 130px;
}
header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  height: 80px;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
header a:hover {
  color: #f28705;
}

.pesquisa input {
  padding: 10px 40px;
  padding-right: 0.7rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 10px;
  border: none;
}

input::placeholder:focus {
  color: white;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
}

.pesquisa button {
  background-color: #f28705;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
}
.pesquisa button:hover {
  background-color: #ce2c2c;
  color: white;
}

.lista ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.lista ul li {
  margin: 0px 19% 0px 0%;
}
.row {
  display: flex;
  margin: 0px 50px 0px 50px;
}
.card {
  background-image: linear-gradient(to bottom, #b40303, #590202);
  color: white;
  padding: 20px;
  width: 40%;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 200px solid black;
}
.card h2,
p,
a {
  text-align: center;
}
.card h2 {
  padding: 14px 0px 14px 0px;
  margin: 0px 10px 0px 0px;
}
.card h4 {
  background-color: green;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  padding-left: 13px;
  margin-bottom: 10px;
}
.card p {
  padding-bottom: 16px;
}
.card a {
  color: white;
  background-color: #f28705;
  font-size: 1.4rem;
  border-radius: 3px;
  padding: 4px;
  text-decoration: none;
}
.card a:hover {
  background-color: #a10909;
}
.card button {
  background-color: #f28705;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 2px 0;
  border-radius: 5px;
}
.card button:hover {
  background-color: #a10909;
}

.imagens {
  margin: 10px 50px 0px 0px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding-left: 40px;
}
.btn-ver-mais {
  background-color: #f28705;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-ver-mais:focus .menubar {
  display: block;
}

.menubar {
  display: none;
  background-color: #f9f9f9;
  color: #590202;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  margin-top: 10px;
}

.menubar li {
  padding: 5px 0;
  cursor: pointer;
}

.menubar li:hover {
  background-color: #ddd;
}
.menubar a {
  color: #590202;
}
footer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
}
