@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #ffa436, #ff6600);
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: white;
  backdrop-filter: blur(5px);
}

.links {
  width: 100%;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}

label {
  display: flex;
  align-items: self-end;
}

.links a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputBox {
  position: relative;
  margin: 0.8rem;
  width: 80%;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.712);
  outline: none;
  color: black;
  font-size: 15px;
  width: 100%;
  letter-spacing: 1px;
}

.labelInput {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.5s;
  color: black;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -15px;
  font-size: 12px;
  color: white;
}

.submit {
  background-image: linear-gradient(to bottom, #ffa436, #ff6600);
  margin: 0 1rem 0 1rem;
  width: 80%;
  text-align: center;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.submit:hover {
  transition: 0.5s;
  background-color: #bf2c3b;
  transform: scale(1.05);
}

.svg {
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: row;
  background-image: url(/imagens/singup-content/blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  padding: 1rem 0.5rem 0.3rem 1rem;
}

.hamburguer {
  width: 100%;
}

.text {
  width: auto;
  display: flex;
  border-radius: 15px;
  padding: 1rem 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  color: black;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.text h2 {
  text-align: center;
  width: 18rem;
  font-size: 26px;
}

.text h4 {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 1rem;
}

form button {
  width: 100%;
  transition: 0.3s;
  font-weight: bolder;
  border-radius: 15px;
  border: 2px solid;
  border-color: lightgrey;
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
}

form button:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
  background-color: #e4572e;
  color: white;
}

.cadastrar {
  color: black;
  font-weight: lighter;
  font-size: 14px;
  padding-top: 0.5rem;
  margin-bottom: -5px;
}
a:hover {
  color: #ff6600;
}
