* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #F28705;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
   display: flex;
   background-color: #fff;
   width: 450px;
   height: 620px;
   border-radius: 5%;
}
.dados{
    
}