@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(login-content/blurry-gradient-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: self-end;
}

label {
    display: flex;
    align-items: self-end;
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputs {
    width: 90%;
    border-radius: 15px;
    border: 2px solid;
    border-color: lightgrey;
    padding: .5rem 1rem;
    margin-top: 1rem;
}

#senha {
    margin-bottom: .3rem;
}

.svg {
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: row;
    background-image: url(singup-content/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 15px 15px;
    padding: 1rem .5rem .3rem 1rem;
}

.svg svg {
    width: 100%;
    height: 150%;
}

.text {
    width: auto;
    display: flex;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.text h2 {
    text-align: center;
    width: 18rem;
    font-size: 26px;
}

.text h4 {
    font-size: 16px;
    font-weight: lighter;
}

.text button {
    width: 100%;
    transition: .3s;
    font-weight: bolder;
    border-radius: 15px;
    border: 2px solid;
    border-color: lightgrey;
    padding: .5rem 0;
    margin: 1rem 0 0 0;
}

.text button:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.1);
    background-color: #E4572E;
    color: white;
}

.cadastrar {
    color: black;
    font-weight: lighter;
    font-size: 14px;
    padding-top: .5rem;
    margin-bottom: -5px;
}