*{
    color:white;
}

body {
    min-width: 372px;
    color: white;
    background-color: rgb(21, 23, 24);
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.btn{
    display: initial!important;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: rgb(21, 23, 24);
}
.lead{
    font-weight: 400;
    color: rgb(209, 205, 199) !important;
}
.t{
    margin-top: 5rem;
}
.h2-cat{
    padding: 0 0 .5rem 0;
}
.h2-most{
    padding-bottom: .5rem;
}

a{
    text-decoration: none;
    color:white;
    transition: .3s;
}

a:hover{
    transition: .3s;
    color: black;
}

.album{
    background-color: #1b1e1f!important;
}

.card{
    background-color: #191a1a;
}

.card-text{
    color: white;
}

.form-control{
    width: auto!important;
}

.text-muted{
    color:rgb(209, 205, 199)!important;
}

.categorias{
    transition: .3s;
}
.categorias:hover{
    transform: scale(1.05);
    transition: .3s;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 45rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


section#overlay {
    display: flex;
    backdrop-filter: blur(25px);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all linear;
}

section#overlay.active {
    backdrop-filter: blur(25px);
    visibility: visible;
    opacity: 1;
    top: 0;
}

.background{
    width: 100%;
    background-color: blue;
}